@tailwind base;
@tailwind components;
@tailwind utilities;

.visible{
   opacity: 1;
}

.header_container{
   background-color: rgba(0, 0, 0, 0.18);
}

.fade{
   opacity: 0;
}

.rotate {
   transform: rotate(-180deg);
}

.show_accordion {
   padding: 0 20px 20px 20px;
   height: 70px;
   opacity: 1;
}

@media (max-width:  800px) {
   .show_accordion{
      height: 90px;
   }
}

@media (max-width:  450px) {
   .show_accordion{
      height: 140px;
   }
}