@tailwind base;
@tailwind components;
@tailwind utilities;

.visible{
   opacity: 1;
}

.header_container{
   background-color: rgba(0, 0, 0, 0.18);
}

.fade{
   opacity: 0;
}

.rotate {
   transform: rotate(-180deg);
}

.show_accordion {
   padding: 0 20px 20px 20px;
   opacity: 1;
}